<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div style="width:fit-content; float:left; margin-right:auto; margin-left:10px;" class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <style>
                .navbar-nav li {
                    display: inline;
                    width: fit-content;
                }

                ul {
                    width: fit-content;
                }

                    ul li {
                        width: fit-content;
                    }
            </style>
            <ul class="nav navbar-nav" style="display:inline;">
                <li>
                    <a href="/">Home</a>
                </li>
                @*<li>
                    <a href="/random">Random</a>
                </li>*@
                <li style="position:relative; width:fit-content;" class="dropdown">
                    <a href="#"
                       role="button" aria-haspopup="true"
                       aria-expanded="false">@SiteInfo.FrameWork.ToString()</a>
                    <ul style="position:absolute; margin-top:-25px;" class="dropdown-menu hiddenMenu">
                         @foreach (var item in Enum.GetNames(typeof(FrameWork)))
                         {

                            <li><a @onclick="@(()=>{MainLayout.Current.SelectFrameWork(RepoHelper.ConvertFramework(item));})" >@item</a></li>
                         }                       
                    </ul>

                </li>
               @* <li style="width:fit-content; max-width:92px;" class="dropdown">
                    <a href="#" 
                      >Sort By</a>
                    <ul class="dropdown-menu hiddenMenu">
                        <li><a href="/">Default</a></li>
                        <li><a href="/sort/updated">Recent</a></li>
                        <li><a href="/sort/stars">Stars</a></li>
                    </ul>
                </li>*@
                <li style="visibility:visible">
                    <a @onclick="(()=>{MainLayout.Current.NavigateToAbout();})">About</a>
                </li>
                <li style="visibility:visible">
                    <style type="text/css">
                        .cta {
                            font-weight: 700;
                            color: @SiteInfo.AccentColor !important;
                            cursor: pointer;
                        }

                            .cta:hover {
                                color: @SiteInfo.AccentColor !important;
                            }
                    </style>
                    <a @onclick="(()=>{MainLayout.Current.NavigateToSubmitForm();})" class="cta">Submit new Project!</a>
                </li>
                <li class="search_button" style="visibility:collapse">
                    <a class="fa fa-search"
                       style="font-weight:bold; font-size:larger"
                       href="/search"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
   
}
